@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-black;
  }

  body {
    @apply bg-white text-black;
  }
}

@layer utilities {
  .font-brutal {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }
}